$langs: 'en',
'es',
'pt-BR',
'pt',
'jp',
'de';

.locale-flag{
  display: block;
  width: em(35);
  height: em(35);
  border-radius: em(100);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: em(10);

  @each $lang in $langs {
    &--#{$lang} {
      background-image: url('./img/flags/#{$lang}.svg');
    }
  }
}