.banner {
  padding: $default-page-spacing;

  &__container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: $default-page-spacing;
    width: 100%;
    height: 125px;
    background-color: $color-green-main;
    border-radius: em(5);
    background-image: url('./img/banner-bg.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    transition: all 0.3s ease-in-out;
  }

  &__info {
    &__title {
      font-weight: 600;
      font-size: em(23);
      color: #ffffff;
      margin-bottom: 3px;
      transition: all 0.3s ease-in-out;
    }

    &__tasks {
      color: #ffffff;
      transition: all 0.3s ease-in-out;

      span {
        color: $color-orange-main;
        font-weight: 500;
      }
    }
  }
  &--dark {
    .banner {
      &__container {
        background-color: $color-green-main;
      }
      &__info {
        &__title {
          color: $color-green-light;
        }
        &__tasks {
          color: $color-green-light;
        }
      }
    }
  }
}
