$until-date-color: #bdbdbd;
$header-icon-color: #717171;

.goal-page {
  width: 100%;
  height: 100%;
  background-color: $light-theme-bg;
  transition: all 0.3s ease-in-out;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: $default-page-spacing;
    padding-top: 0;
    box-sizing: border-box;
  }

  &__menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: $default-page-spacing;
    width: auto;
    height: auto;
    border-radius: em(5);

    &__item {
      margin-right: em(10);
      color: $header-icon-color;
    }
  }

  &--dark {
    background-color: $color-green-main;
  }

  &__button {
    position: fixed;
    bottom: em(30);
    left: 50%;
    transform: translateX(-50%);
  }

  &__title {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    font-weight: 700;
    font-size: em(23);
    padding-bottom: em(5);
  }

  &__until-date {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: em(5);
    color: $until-date-color;
    &__icon {
      size: 300;
    }
  }
}
