
.locales {
  padding: em(10);
  background-color: $color-green-main;
  width: auto;
  border-radius: em(30);
  display: flex;

  &__item {
    display: block;
    width: em(35);
    height: em(35);
    border-radius: em(100);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: em(10);
  }
}
