.main-header {
  box-sizing: border-box;
  padding: $default-page-spacing;
  position: relative;

  &__title {
    display: block;
    max-width: calc(100% - em(30));
    font-size: em(23);
    font-weight: 800;
    color: $color-green-main;
    transition: all 0.3s ease-in-out;

    &--dark {
      color: $color-green-light;
    }
  }
}