.form-input {
  width: 100%;
  position: relative;

  &__label {
    display: block;
    margin-bottom: em(5);
  }

  &__field {
    box-sizing: border-box;
    border: 2px solid $general-border-color;
    padding: em(5) em(10);
    width: 100%;
    height: em(60);
    border-radius: em(12);
    font-size: em(14);
    outline: none;

    &--error {
      border: 2px solid $general-border-color-error;
    }
  }

  &__textarea {
    resize: vertical;
    box-sizing: border-box;
    border: 2px solid $general-border-color;
    padding: em(5) em(10);
    width: 100%;
    border-radius: em(12);
    font-size: em(14);
    outline: none;
    
    &--error {
      border: 2px solid $general-border-color-error;
    }
  }

  &__error {
    box-sizing: border-box;
    margin-top: 5px;
    display: block;
    border-radius: em(3);
    padding: em(5) em(10);
    font-size: em(12);
    color: $color-red-main;
    position: absolute;
    left: 0;
    bottom: em(-25);
    z-index: 1;

    &__animate {
      &-enter-active,
      &-leave-active {
        transition: all 0.3s ease-in-out;
      }

      &-enter-from,
      &-leave-to {
        opacity: 0;
      }
    }
  }
}
