.nav-button {
  color: #fff;
  width: em(40);
  height: em(40);
  border-radius: em(100);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: $default-page-spacing;
  top: $default-page-spacing;
  z-index: 1;
  position: fixed;

  &--open {
    background-color: $color-green-main;
  }

  &--close {
    background-color: $color-orange-main;
  }

  &__animate {
    &-enter-active,
    &-leave-active {
      transition: all 0.25s ease-out;
    }

    &-leave-active {
      transition-delay: 0.25s;
    }

    &-enter-from {
      opacity: 0;
    }

    &-leave-to {
      opacity: 0;
    }
  }
}

.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &__container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    background-color: $color-green-main;
    border-top-left-radius: em(20);
    border-bottom-left-radius: em(20);
    padding: em(70) $default-page-spacing $default-page-spacing;
    z-index: 9;
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: em(40);
    height: em(40);
    background-color: $color-green-light;
    border-radius: em(100);
    margin: em(10) 0;
    transition: all 0.3s ease;

    &__flag {
      position: absolute;
      display: block;
      width: em(20);
      height: em(20);
      top: em(-5);
      right: em(-20);
    }

    &--active {
      background-color: $color-orange-main;
    }

    &__icon {
      color: $color-green-main;
    }
  }

  &__locales {
    position: absolute;
    transform: translateX(-65%);

    &__animate {
      &-enter-active,
      &-leave-active {
        transition: all 0.25s ease-out;
      }

      &-enter-from {
        opacity: 0;
        transform: translateX(-50%);
      }

      &-leave-to {
        opacity: 0;
        transform: translateX(-50%);
      }
    }
  }

  &__animate {
    &-enter-active,
    &-leave-active {
      transition: all 0.3s ease-in-out;

      .nav__container {
        transition: all 0.3s ease-in-out;
      }
    }

    &-leave-active {
      transition-delay: 0.25s;

      .nav__container {
        transition-delay: 0.25s;
      }
    }

    &-enter-from,
    &-leave-to {
      opacity: 0;

      .nav__container {
        transform: translateX(100%);
        opacity: 0;
      }
    }
  }
}
