$default-page-spacing: em(20);

// Colors
$general-border-color: #9e9e9e;
$color-green-main: #1b4a5a;
$color-green-light: #b2c6cc;
$color-orange-main: #ffb057;
$color-orange-light: #ffe5c7;

//theme light
$light-theme-bg: #fdfdfd;
