$default-page-spacing: em(20);

// Colors
$general-border-color: #9e9e9e;
$general-border-color-error: #c50000;
$color-green-main: #1b4a5a;
$color-green-light: #b2c6cc;
$color-orange-main: #ffb057;
$color-orange-light: #ffe5c7;
$color-red-main: #c50000;
$color-red-light: #f9bebe;
$color-msg-bg-info: #c7d8dd;
$color-msg-bg-error: #f5d4d4;

//theme light
$light-theme-bg: #fdfdfd;
