.message {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: calc(100% - em(20));
  max-width: em(400);
  border-radius: em(5);
  padding: em(12);
  position: fixed;
  left: 50%;
  top: em(10);
  transform: translateX(-50%);
  z-index: 2;
  background-color: $color-msg-bg-info;
  color: $color-green-main;
  overflow: hidden;

  &--error {
    background-color: $color-msg-bg-error;
    color: $color-red-main;
  }

  &__close {
    margin-left: auto;
  }

  &__icon {
    margin-right: em(10);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-green-main;
    &--error {
      color: $color-red-main;
    }
  }

  &__text {
    font-size: em(12);
  }

  &__loading {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: $color-green-main;

    &--error {
      background-color: $color-red-main;
    }
  }

  &__animate {
    &-enter-active,
    &-leave-active {
      transition: all 0.3s ease-out;
    }

    &-enter-from {
      opacity: 0;
      transform: translateX(-50%);
    }

    &-leave-to {
      opacity: 0;
      transform: translateX(-50%);
    }
  }
}
