.message {
  box-sizing: border-box;
  display: flex;
  width: calc(100% - em(20));
  max-width: em(400);
  border-radius: em(5);
  padding: em(12);
  position: absolute;
  left: 50%;
  top: em(10);
  transform: translateX(-50%);
  z-index: 2;
  background-color: $color-msg-bg-info;

  &--error {
    background-color: $color-msg-bg-error;
  }

  &__icon {
    color: $color-green-main;
    &--error {
      color: $color-red-main;
    }
  }
}
