.task-list {
  display: flex;
  flex-direction: column;
  padding: $default-page-spacing;

  .task {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}